<div class="logo">
  <a href="" routerLink="/" class="simple-text">
    <div class="logo-img">
      <img src="/assets/img/logo.png"/>
    </div>
    Pizza PaaS
  </a>
</div>
<div class="sidebar sidebar-wrapper">
  <div class="nav-container">
    <ul class="nav">
      <!-- routerLinkActive="active" -->
      <li *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
        <a href="#" [routerLink]="menuItem.path">
          <i class="material-icons">{{menuItem.icon}}</i>
          <p>{{menuItem.title}}</p>
        </a>
      </li>
    </ul>
  </div>
</div>
