<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <p-growl [(value)]="msgs" life="1500"></p-growl>
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Products list
        </div>
        <div class="card-block">
          <button type="button" class="btn btn-primary" (click)="addProductModal.show()">
            <i class="fa fa-plus-circle"></i> Add new product
          </button>

          <ngx-datatable
            #productsTable
            class="material striped m-t-md"
            [columns]="productColumns"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="20"
            [rows]="products | async">
            <ngx-datatable-column name="Name" width="2px">
              <ng-template let-rowIndex="rowIndex" let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Description">
              <ng-template let-rowIndex="rowIndex" let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Image">
              <ng-template let-rowIndex="rowIndex" let-row="row" let-value="value" ngx-datatable-cell-template>
                <img src="assets/img/pizzas/{{value}}" alt="">
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Actions">
              <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <button class="btn btn-outline-danger" type="button">
                  <i class="fa fa-times"></i>&nbsp; Remove
                </button>
                <button class="btn btn-outline-warning" type="button">
                  <i class="fa fa-pencil-square-o"></i>&nbsp; Edit
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #addProductModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add new product</h4>
        <button type="button" class="close" (click)="addProductModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form role="form" (ngSubmit)="createProduct(product)" [formGroup]="product" class="add-new-product-form">
          <fieldset class="form-group">
            <label>Type</label>
            <p-selectButton class="form-control" [options]="productTypes" formControlName="type"></p-selectButton>
            <div class="error-msg" *ngIf="product.get('type').hasError('required') && product.get('type').touched">
              Type is required
            </div>
          </fieldset>

          <fieldset class="form-group" [ngClass]="{ 'has-danger': product.controls['name'].invalid && product.get('name').touched }">
            <label>Name</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-check"></i></span>
               <input type="text" class="form-control" formControlName="name">
            </div>
            <small class="text-muted">ex. 'Plain Cheese'</small>
            <div class="error-msg" *ngIf="product.get('name').hasError('required') && product.get('name').touched">
              Name is required
            </div>
          </fieldset>

          <fieldset class="form-group">
            <label>Description</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-list-alt"></i></span>
               <input type="text" class="form-control" formControlName="description">
            </div>
            <small class="text-muted">ex. 'Your basic plain cheese pizza with no toppings.\nIncludes tomato sauce, mozzarella, oregano and a sprinkling of cheddar'</small>
          </fieldset>

          <fieldset class="form-group image-form-control">
            <label>Image</label>
            <!-- <ng-select
              [multiple]="false"
              [items]="productImages"
              (data)="refreshValue($event)"
              (selected)="selected($event)"
              (removed)="removed($event)"
              placeholder="Select image...">
            </ng-select> -->

             <p-autoComplete class="form-control" formControlName="image" [suggestions]="filteredImages" (completeMethod)="filterImages($event)"
                [size]="30" [minLength]="1" placeholder="Select image..." [dropdown]="true" (onDropdownClick)="handleDropdownClick($event)">
                <ng-template let-image pTemplate="item">
                    <div class="ui-helper-clearfix">
                        <img src="assets/img/pizzas/{{image}}" class="product-img"/>
                        <div class="product-title">
                          {{image}}
                        </div>
                    </div>
                </ng-template>
            </p-autoComplete>
          </fieldset>

          <fieldset class="form-group">
             <p-checkbox label="Has Options" binary="true" formControlName="hasOptions"></p-checkbox>
          </fieldset>

          <fieldset class="form-group">
             <p-checkbox label="Vegetarian" binary="true" formControlName="isVegetarian"></p-checkbox>
          </fieldset>

          <fieldset class="form-group" [ngClass]="{ 'has-danger': product.controls['sizes'].invalid && product.get('sizes').touched }">
            <label class="m-r-sm">Sizes</label>
            <p-selectButton class="form-control" [options]="sizesOptions" formControlName="sizes" multiple="true"></p-selectButton>
            <div class="error-msg" *ngIf="product.get('sizes').hasError('required') && product.get('sizes').touched">
              Size is required
            </div>
          </fieldset>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="addProductModal.hide()">
          Close
        </button>
        <button type="submit" class="btn btn-primary" (click)="createProduct()" [disabled]="product.invalid">
          Save changes
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
