<!-- <div class="row columns"> -->
<div class="wrapper">
  <div class="sidebar" data-color='red' data-image="">
    <paas-sidebar *ngIf="false"></paas-sidebar>
    <div class="sidebar-background" style="background-image: url(../assets/img/bg.jpg)"></div>
  </div>
  <div class="main-panel">
    <paas-navbar></paas-navbar>

    <div class="main-content">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>

    <paas-footer></paas-footer>
  </div>
</div>
