$white-color: #FFFFFF !default;
.card-signup {
  max-width: 320px;

  .header {
    padding-top: 10px;
  }
}

.login-link {
  margin: -15px 0 15px 0;
  .link {
    font-size: 12px;
    color: $white-color;
    text-decoration: none;
  }
}

.input-group-addon {
  padding-right: 10px !important;
}

.error-msg {
  font-size: 11px;
  color: #fbfbb6;
  padding: 5px 0;
  margin: -10px 0 0 0;
}