<footer class="footer">
  <div class="container">
    <nav>
      <ul>
        <li>
          <a href="">About</a>
        </li>
        <li>
          <a href="">Contact</a>
        </li>
        <li>
          <a href="https://github.com/GonikDaniel/pizza-PaaS/blob/master/LICENSE">MIT License</a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      {{ date | date: 'yyyy' }}
      <a href="https://github.com/GonikDaniel" target="_blank">Gonik Daniel</a>
    </div>
  </div>
</footer>
