<div class="app">
  <div class="app-body">
    <!-- Main content -->
    <main class="main">
      <div class="container-fluid">
        <div class="animated fadeIn">
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-header">
                  <i class="fa fa-align-justify"></i> About
                </div>
                <article class="page type-page status-publish hentry">
                  <div class="card-block">
                    <h4 class="card-title">About Us</h4>
                  </div>

                  <div class="post-entry">
                    <div class="card-block">
                      <h5>Who we are.</h5>
                      <p>
                        There’s nothing cookie-cutter about Pizza PaaS. Not our pizzas. Not our people. And definitely not the
                        way we live life. Around here, we don’t settle for anything less than food we’re proud to serve.
                        And we don’t just clock in. Not when we can also become our best, make friends, and have fun while
                        we’re at it.&nbsp;<strong>We’re the pizza company that lives life unboxed.</strong>
                      </p>
                      <p>
                        We’re not for people who want to blend in: pushing boundaries is part of our heritage. We have more
                        than 16,000 restaurants and 350,000 team members in more than 100 countries. Whether it’s the original
                        Stuffed Crust or putting a pizza in outer space, we never stop driving ourselves to deliver hot pizzas,
                        fast every time – anywhere you want to enjoy it.
                      </p>
                    </div>

                    <div class="card-block">
                      <h5>What we’re about.</h5>
                      <p>
                        At Pizza PaaS, we don’t just make pizza. We make people happy. Pizza PaaS was built on the belief that
                        pizza night should be special, and we carry that belief into everything we do. With more than 55
                        years of experience under our belts, we understand how to best serve our customers through tried
                        and true service principles: <strong>We create food we’re proud to serve and deliver it fast, with a smile.</strong>
                      </p>
                    </div>

                    <div class="card-block">
                      <h5>Where we come from.</h5>
                      <p>
                        In 1958, two brothers borrowed $600 from their mom to open a pizza place in Wichita, Kansas. They named
                        it Pizza PaaS, because their sign only had room for eight letters. How profound!
                      </p>
                      <p>
                        Soon, the restaurant grew. Why? The pizza was awesome. The service felt like home. And the customers
                        were treated like family.
                      </p>
                      <p>
                        And we’ve been delivering that same food and service ever since.
                      </p>
                    </div>
                  </div>

                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

  </div>
</div>
