<div class="container">
  <div class="col-md-4 content-center">
    <div class="card card-login card-plain">
      <form class="form" method="" action="">
        <div class="header header-primary text-center">
          <div class="logo-container">
            <img src="../../../assets/img/logo.png" alt="">
          </div>
        </div>
        <div class="content">
          <div class="input-group form-group-no-border input-lg">
            <span class="input-group-addon">
              <i class="fa fa-user"></i>
            </span>
            <input type="text" class="form-control" placeholder="First Name..."></div>
          <div class="input-group form-group-no-border input-lg">
            <span class="input-group-addon">
              <i class="fa fa-lock"></i>
            </span>
            <input type="password" placeholder="Password..." class="form-control" />
          </div>
        </div>
        <div class="footer text-center">
          <a href="#" class="btn btn-primary btn-round btn-lg btn-block">Get Started</a>
        </div>
        <div class="pull-left">
          <h6>
            <a href="#" class="link">Create Account</a>
          </h6>
        </div>
        <div class="pull-right">
          <h6>
            <a href="#" class="link">Need Help?</a>
          </h6>
        </div>
      </form>
    </div>
  </div>
</div>
