.logo-container {
  width: 65px;
  margin: 0 auto;
  margin-bottom: 55px;

  img {
    width: 100%;
  }
}
.error-msg {
  font-size: 11px;
  color: #f86c6b !important;
  padding: 5px 0;
  margin: -10px 0 0 0;
}
