body {
  font-family: 'Raleway';
  background-color:#242226;
  padding-top: 5em;
}

button {
  background:#4267B2;
  color:white;
  padding: 1.2em;
  width:300px;
  text-align:center;
  font-size:1.2em;
  margin-bottom: 30px;
  cursor:pointer;
}
