<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-title text-center">
        <span>Main Menu</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin/dashboard']">
          <i class="icon-speedometer"></i> Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin/orders']">
          <i class="icon-basket-loaded"></i> Orders
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin/categories']">
          <i class="icon-calculator"></i> Categories
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin/tags']">
          <i class="icon-tag"></i> Tags
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin/billing']">
          <i class="icon-paypal"></i> Billing
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin/profile']">
          <i class="icon-user"></i> Profile
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link logout" routerLinkActive="active" [routerLink]="['/admin/logout']">
          <i class="icon-logout"></i> Logout
        </a>
      </li>
    </ul>
  </nav>
</div>